// Theme colours
$primary: #000000;
$text-primary: #ffffff;
$text-muted: #8A8A8A;

// Font sizes
$title-size: 1.7rem;
$subtitle-size: 1.5rem;
$text-size: 1rem;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2.7rem;
$spacing-xlg: 4.2em;
